{{ define "main" }}

<h1>come, stay a little while ~ <img src="/mewo.gif" style="width: 50px; height: 50px"></h1>

<p>
welcome, dear reader, to my own small corner of the interwebs, where the strands of my consciousness come as close as they get to a tangible form. 
</p>

<p>tech also is particularly fond of <a href="posts/">tormenting me</a>, if that's of interest.</p>
<p>oh, and there are my <a href="photos/">photos</a>, my <a href="https://piclog.blue/profile.php?id=1597">piclog</a>, as well as plenty of <a href="caramel-slice/">caramel slice</a> to go around, too.</p> 

<div style="width:30vw; display:flex; justify-content:center; margin: 0 auto; padding: 10px; text-align:center; border: 2px dashed #30363d; border-radius: 8px; background: #0c2a31;">
    <p style="margin: 0 0"><i>check out this <b><a href="files/personal-web-map.pdf">personal web map</a></b> if you, too want to get started on <b>carving out your own small slice of cyberspace!</b></i></p>
</div>


<h1>latest posts: </h1>

<div class="posts-list">
{{ with .Site.GetPage "/posts" }}
    {{ range first 3 (sort .Data.Pages "Date" "desc" (where .Pages ".Params.private" "!=" true))}}
        <div class="post" style="padding-left: 20px; padding-bottom: 5px">
            <p>
                <div class="date">{{ .PublishDate.Format "Jan. 2, 2006" }}</div>
                <h1><a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a></h1>
                {{ .Summary }}
            </p>
        </div>    
    {{ end }}
{{ end }}
</div>

<h1>latest photos:</h1>

<div class="image-grid">
{{ with .Site.GetPage "/photos" }}
    {{ range first 3 (sort .Data.Pages "Date" "desc")}}
        <a href="{{ .Permalink }}" title="{{ .Title }}">
        {{ $image := .Page.Resources.GetMatch .Params.image }}
        {{ with $image }}
            {{ $thumb := .Resize "400x" }}
            <img src="{{ $thumb.RelPermalink }}" alt="{{ .Title }}" class="img-responsive">
        {{end}}
        </a>
    {{ end }}
{{ end }}
</div>

{{ end }}